@model ClockUniverse.QLTT

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi Tiết</h2>
<style>
    h2{
        text-align:center;
        font-family:'Times New Roman';
    }
    dt{
        font-family:'Times New Roman';
    }
    dd {
        font-family: 'Times New Roman';
    }
    div {
        font-family: 'Times New Roman';
    }
</style>
<div>
    
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Họ và tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

    </dl>
</div>
<p>
    <div class="form-actions no-color">
        <input type="submit" value="Chỉnh sửa" class="btn btn-warning" /> |
        @Html.ActionLink("trở về", "Index")
    </div>
    
</p>
